.article {
    padding: 20px;
    .input-area {
        ~ .input-area {
            margin-top: 10px;
        }
        input {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            &:focus {
                outline: none;
                border: 1px solid #FFDD73;
            }
        }
    }
    .button-area {
        margin-top: 10px;
        text-align: center;
        .button-submit {
            padding: 5px 10px;
            border: 0 none;
            border-radius: 3px;
            font-size: 15px;
            line-height: 20px;
            background-color: #FFDD73;
        }
    }
}
